@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#09090b] text-zinc-200 antialiased;
  }
  
  /* Custom Scrollbar */
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: #27272a;
    border-radius: 4px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #3f3f46;
  }
}

@layer utilities {
  .glass-panel {
    @apply bg-zinc-900/70 backdrop-blur-md border border-white/5;
  }
  
  .glass-modal {
    @apply bg-zinc-950/95 backdrop-blur-xl border border-white/10 shadow-2xl;
  }
}